@use './components/controls/Controls.scss';
@use './components/display/Display.scss';
@use './components/header/header.scss';

.App {
    display: grid;
    grid-template-rows: 5vh 95vh;
}

.appBody {
    display: grid;
    grid-template-columns: 25% 75%;
}